{{>header}}
{{>navbar}}
<h3 class="text-primary text-center">User Data</h3>
{{#unless customer}}
<div class="alert alert-danger">
    <p>No Customer With This ID</p>
    <a href="/" class="btn btn-danger"> BACK HOME </a>
</div>
{{else}}
    <table class="table table-stripped">
        <thead class="alert alert-primary p-3">
            <tr>
                <th>ID: {{customer.id}}</th>
                <th>Name: {{customer.name}}</th>
            </tr>
            <tr>
                <td>Account Number: {{customer.accNum}}</td>
                <td>Balance: {{customer.balance}}$</td>
            </tr>
        </thead>
    </table>
{{/unless}}
{{>footer}}